header{
    background-color: #87509c;
    .headConteiner{
        padding-top: 57px;
        padding-bottom: 147px;
    }
    h2{
        font-size: 2.635rem;
        font-weight: 300;
        text-align: center;
    }

    button{
        @include button;
        background-color: #eb7d4b;
        border-bottom: 4px solid #c86a40;

    }
}

