
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font: 'Titillium Web', sans-serif;

//Size
$titleSize: 2em;
$mediumSize: 1.125em;
$normalSize: 1em;

//title:
$secondTitle: 2.5em;