header{
    background-color: #87509c;
    
    .headConteiner{
        padding-top: 57px;
        padding-bottom: 147px;
    }
    h2{
        padding-top: 140px;
        padding-bottom: 60px;
        font-size: $secondTitle;
        font-weight: 300;
        text-align: center;
    }

    button{
        @include button;
        background-color: #eb7d4b;
        border-bottom: 4px solid #c86a40;

    }
}

